__MACOSX/*
googleb70ba7bf80cae2cb.html
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/w3tc-config/
wp-content/db.php
wp-content/object-cache.php
sitemap.xml
*.log
*.zip
*.tar
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz
error_log
